.btn.btn-default.action-button{
  color: #fff; 
  background-color: #337ab7; 
  border-color: #2e6da4;
  margin-bottom: 9px;
}

.btn.btn-default.action-button.next_button{
  display: block;
  float:right;
  margin-right: 9px;
  margin-bottom: 9px;
  color: #fff; 
  background-color: #2ca25f; 
  border-color: #2ca25f
}

.btn.btn-default.action-button.back_button{
  color: #fff; 
  background-color: #6baed6; 
  border-color: #6baed6
}

.btn.btn-default.action-button.secondary_button{
  color: #fff; 
  background-color: #6baed6;
  border-color: #6baed6
}

.btn.btn-default.action-button.tertiary_button{
  color: #fff; 
  background-color: #2ca25f; 
  border-color: #2ca25f;
}
